<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=localhost:3000;Database=phpregister;Integrated Security=true" name="phpregister" />
    </connectionStrings>
    <system.net>
        <mailSettings>
            <smtp from="ameykelekar@yahoo.com" />
        </mailSettings>
    </system.net>
</configuration>
